/* .directions_header {
  color: rgba(0, 0, 0, 1);
  font-size: 40px;
  font-weight: 600;
  line-height: 44px;
  margin-bottom: 40px;
}

.directions_wrapper {
  background-color: rgba(188, 236, 48, 1);
  display: flex;
  flex-wrap: wrap;
  border-radius: 28px;
  padding: 30px;
  row-gap: 34px;
  justify-content: space-between;
  column-gap: 128px;
}

.directions_block {
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 284px;
}

.directions_block_sparcle {
  height: 26px;
  width: 26px;
  background-image: url(./img/Sparcle.svg);
}

.directions_block_text {
  font-size: 24px;
  font-weight: 400;
  line-height: 26.4px;
  text-align: left;
} */