/* .skill_card {
  background-color: rgba(125, 69, 140, 1);
  justify-content: space-between;
  border-radius: 30px;
  box-sizing: border-box;
  height: 310px; 
  width: 100%;
  display: flex;
  overflow: hidden;
}

.skill_card_img {
  background-image: url(./img/bodyflex_skill_card.png);
 width: 830px;
}

.skill_card_text {
  margin-top: 40px;
  margin-left: 40px;
  font-family: Roboto;
  font-size: 60px;
  font-weight: 500;
  line-height: 66px;
  color: rgba(255, 255, 255, 1);
} */
