/* .benefits_wrapper {
  width: 100%;
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.13);
  background: rgba(255, 255, 255, 1);
  border-radius: 30px;
  overflow: visible;
  display: flex;
  height: 486px;
  position: relative;
  margin-top: 62px;
  box-sizing: border-box;
}

.benefits_information {
  margin: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 437px;
}

.benefits_header {
  font-size: 60px;
  font-weight: 500;
  line-height: 60px;
}

.benefits_list {
  list-style-position: inside;
}

.benefits_list_item {
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
  color: #666666;
}


.benefits_list_item::marker {
  font-size: 18px;
}


.benefits_img {
  position: absolute;
  height: 575px;
  width: 628px;
  background-image: url(./img/benefitsImg.svg);
  top: 41%;
  left: 72%;
  transform: translate(-50%, -50%);
} */